{% extends "layout.html" %}
{% block title %}Let's annotate{% endblock %}
{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Video annotation</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <a role="button" class="btn btn-default navbar-btn" href="{{ url_for('profile') }}">Profile</a>
                <a role="button" class="btn btn-default navbar-btn" href="{{ url_for('logout') }}">Log out</a>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <video id="video-player" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
                </video>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                Select video:
                <select id="select-video">
                </select>
            </div>
        </div>
         <div class="row">
            <div class="col-md-8">
                <button type="button" id="add-ann"> Add Annotation
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <input type="text" id="start"> Start time
                </input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" id = "annotations">
              
            </div>
        </div>
       
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> <!-- If you'd like to support IE8 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="/js/controllers.js"></script>
{% endblock %}
