{% extends "layout.html" %}
{% block title %}Let's annotate{% endblock %}
{% block body %}
    {% raw %}
        <script type="text/html" id="template-annotations-row">
            <li class="list-group-item clearfix" data-id="{{id}}">
                <span class="short-description">
                {{annotation_time}}
                {{short_description}}
                    
                </span>
                <div class="pull-right">
                    <button type="submit" class="edit" data-id="{{id}}">
                        <span class="glyphicon glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit" class="delete" data-id="{{id}}">
                        <span class="glyphicon glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </li>
        </script>

        <script type="text/html" id="template-annotations">
            {{#.}}
              {{>row}}
            {{/.}}
        </script>

        <script type="text/html" id="template-view-annotations-row">
            <li class="list-group-item clearfix">
                <b>Child:</b> {{select_vocab_child}}
                </br>
                <b>Therapist:</b> {{select_vocab_therapist}}
            </li>
        </script>

        <script type="text/html" id="template-view-annotations">
            {{#.}}
              {{>row}}
            {{/.}}
        </script>
    {% endraw %}

    <div class="container-fluid">

        <span id="ann_number">0</span>

        <div class="row">

            <div class="col-md-3">
                <ol class="vjs-playlist"></ol>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <video id="video-player" class="video-js vjs-fluid" controls preload="auto" data-setup="{}">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>

                <div class="row">
                    <div  class="panel panel-default">
                        <div id = "curr-ann" class="panel-heading">
                            <span id = 'limits-text'> Current time limits: </span>
                            <span id='start-time'  data-frame-nr="0"></span> –
                            <span id='end-time'  data-frame-nr="0"></span>
                            <button class="btn btn-default btn-xs" id="play-curr">Play current selection</button>
                        </div>

                        <div class="panel-body ann-box" id="annotations">
                            <label>1. Select time interval</label>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="radio-time-limits" id="radio-start" value="start" checked> start time
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-time-limits" id="radio-end" value="end"> end  time
                                </label>
                            </div>

                            <button class="btn btn-default btn-xs" id="pick-time"></button>
                            <hr>
                            <div id='select-vocab_child' class="form-group">
                                <label>2. Select actions for the child</label>
                                <div>
                                    <select style="width:100%" multiple="multiple"></select>
                                </div>
                            </div>

                            <hr>
                            
                             <div id='select-vocab_therapist' class="form-group">
                                <label>3. Select actions for therapist</label>
                                <div>
                                  <select style="width:100%" multiple="multiple"></select>
                                </div>
                            </div>

                            <hr>


                            <div class="form-group">
                                <label for="description">4. Enter textual description</label>
                                <textarea class='form-control' rows="3" id='description' placeholder="Please enter textual description here."></textarea>
                            </div>
                            
                            <label>5. The description refers to: </label>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="radio-description_type" id="radio-child" value="1" checked> child
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-description_type" id="radio-therapist" value="2"> therapist
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-description_type" id="radio-both" value="3"> both child and therapist
                                </label>
                            </div>

                            
                             <hr>
                            <button class="btn btn-default" type="submit" id="add-ann"></button>
                            <button class="btn btn-default" type="submit" id="cancel-ann">Cancel</button>
                          
                          

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Current annotations</div>
                    <ul id="view-annotations" class="list-group"></ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Your annotations</div>
                    <ul id="annotations-list" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> <!-- If you'd like to support IE8 -->
    <script src="/node_modules/videojs-playlist/dist/videojs-playlist.js"></script>
    <script src="/node_modules/videojs-playlist-ui/dist/videojs-playlist-ui.js"></script>
    <script src="/node_modules/nouislider/distribute/nouislider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="/js/controllers.js"></script>
{% endblock %}
